/* Index.html */

.navbar{
    font-family: 'Dekko', cursive;
    font-size: 20px;
    background: #dca166;
    padding: 0 1em;
    top: 0px;
    z-index: 1;
}

.navbar-nav{
    text-align: right;
    padding: 0 1em;
}

#navbar-brand{
    font-size: 30px;
}

#navbar-brand img{
    height: 40px;
    padding-bottom: 5px 0px;
}

.homepage-bg{
    height: 800px;
    background-image: url(../img/KoffeeKat.png);
    background-size: cover;
    background-position: bottom;
}

/* welcome section */


#welcome-section-content{
    margin: 1em;
    padding: 1em;
}


#carousel-img{
    margin: 2em;
    width: 1000px;
    border-radius: 10px;
    box-shadow: 5px 5px 20px 5px #666666;
}

#carousel-title-font{
    font-family: 'Dekko', cursive;
    font-size: 30px;
    font-weight: bold;
    color: black;
}

/* best seller menu */

#card-title-font{
    font-family: 'Dekko', cursive;
}

#button-title-font{
    font-family: 'Yanone Kaffeesatz', sans-serif;
}

.card-container{
    margin: 5em;
    padding: 1em;
    text-align: center;
}


.card-heading{
    font-family: 'Dekko', cursive;
    font-size: 50px;
    font-weight: bold;
}

 .card-p{
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 20px
} 

.card{
    margin: 1em 1em;
    background: #dca166;
}

#card{
    background: #f6eee5;
}

#card-bestseller{
    margin: 1em;
    transition: 0.8s;
}

.card img{
    border-radius: 2px;
}

/* menu for cats */


#in-store-menu{
    display: flex;
    align-content: center;
    height: 500px;
    background-color: #666666;
}

.about-section{
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5em;
    padding: 1em;
    background-color: #666666;
    background-position: bottom;
    background-size: cover;
}

.About-KoffeeKat{
    width: 500px;
    height: 300px;
    margin: 3em;
    padding: 3em;

}
.KoffeeKat-img img{
    border-radius: 1em;
    box-shadow: 2px 2px 10px 2px gray;
    margin: 3em;

}




