*{
    margin: 0;
    padding: 0;
}

#navbar{
    background-color: #dca166;
    font-family: 'Dekko', cursive;
}

#navbar img{
    width: 30px;
}

.navbar-nav{
    margin: 0;
    padding: 0;
}

.welcome-section-content{
    color: white;
    padding: 1em;
    margin: 1em;
    background-color: #dca166;
    
}



.welcome-section h2{
    font-size: 20px;
    font-family: 'Dekko', cursive;
    text-align: center;
}

.welcome-section p{
    font-size: 15px;
    text-align: center;
    font-family: 'Yanone Kaffeesatz', sans-serif;
}

.welcome-section-img{
    padding: 0;
    margin: 1em;
    font-family: 'Dekko', cursive;
}

.card-body{
    text-align: center;

}

.card{
 
    margin: 1em;
    padding: 1em;
}

#bestseller-heading{
    font-family: 'Dekko', cursive;
}

#bestseller-section-lgscreen{
    display: none;
}

#carousel-item{
    display: flex;
    justify-content: center;
    
}

#carousel-item-content{
    text-align: center;
}


.meet-ourfeline-section{
    background-color: #ffafb6;
    padding: 1em;
    margin: 1em;
    height: 500px;

}

.meet-ourfeline-section h1{
    text-align: center;
    font-family: 'Dekko', cursive;

}

.feline-gallery{
    height: 400px;
    width: 100%;
    overflow: scroll;
    
}

.feline-gallery img{
    width: 100%;
}

.feline-gallery-adoption{
    display: flex;
    justify-content: center;
    margin: 1em;

}

#feline-gallery-adoption-btn{
    width: 150px;
}

#feline-gallery-adoption-btn a{
    text-decoration: none;
    display: block;
    color: #666666;
}


.forourfelinefreinds-headng h2{
    text-align: center;
}

#forourfeline-section-lgscreen{
    display: none;
}

.about-section{
    margin: 1em;
    background-color: #666666;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.about-section-content{
    margin: 1em;
    padding: 1em;
    text-align: center;
    color: white;
}

.about-section-content h2{
    font-family: 'Dekko', cursive;
}

.about-section-content p{
    font-family: 'Yanone Kaffeesatz', sans-serif;
}

.about-section img{
    background-color: white;
    width: 95%;
    margin: 10px;
    padding: 10px;
}

.about-section-firstcol{
    text-align: center;
    font-family: 'Dekko', cursive;
}

.about-section-logo img{
    background-color: white;
    width: 95%;
    margin: 10px;
    padding: 10px;
}

@media only screen and (min-width: 768px) {
    /* For desktop: */
    .welcome-section{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .welcome-section-content{

        display: flex;
        flex-direction: column;
        align-items: center;
        margin-right: 0;
        padding: 5em;
        width: 45%;
    }

    .welcome-section-content h2{
        font-size: 50px;
    }

    .welcome-section-content p{
        font-size: 25px;
    }

    .welcome-section-img{
        margin-left: 0;
        width: 45%;
    }

    .carousel-item h5{
        color: black;
        font-size: 30px;
    }

    #bestseller-section-lgscreen{
        display: block;
    }

    #bestseller-section{
        display: none;
    }

    .feline-gallery{
        display: flex;

        overflow-wrap: normal;
    }

    .feline-gallery img{
        opacity: .8;
    
    }

    #forourfelinefriends-section{
        display: none;
    }

    #forourfeline-section-lgscreen{
        display: block;
    }

    .feline-gallery-adoption{
        display: flex;
        align-self: center;
        margin: 1em;
    
    }
    
    #feline-gallery-adoption-btn{
        width: 150px;
    }
    
    #feline-gallery-adoption-btn a{
        text-decoration: none;
        display: block;
        color: #666666;
    }

    .about-section{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .about-section-content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 45%;
    }

    .about-section-content h2{
        font-size: 50px;
    }

    .about-section-content p{
        font-size: 30px;
    }

    .about-section-img{
        height: auto;
        width: 45%;
    }

    .contact-us{
        font-size: 30px;
    }

    .contact-us h3{
        font-size: 50px;
    }

    .about-section-logo-container{
        display: flex;
        justify-content: center;
    }

    .about-section-logo{
        width: 60%;
    }


}






